/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

.toolbar{
    background-color: #555555;
    height: 50px;
    color: white;

}

.toolbar-spacer
{
    flex: 1 1 auto;
}

mat-form-field{
    width: 250px;
}
mat-card-title{
    text-align: center;
}
mat-card
{
    width: 300px;
}