<!-- <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>User Id </mat-label>
      <input matInput placeholder="Enter a number" required>
    </mat-form-field>
  </div> -->

<!-- 
  <mat-dialog-content>
	<p>
		{{message}}
	</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
	<button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
	<button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions> -->
<p>Rec Names works</p>
